:root {
  --borderColors: #DFE0E1;
  --controlsColor: #FFFFFF;
  --colorButtonsExit: #FA4141;
  --colorTopicText : #3361FF;
  --colorModuleText : #727272;
  --SecundaryColor: #7AC042;
}

.__Tab-Name {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--colorModuleText);
  gap: 7px;
  padding: 7px;
  border-bottom: 2px solid var(--borderColors);
  align-items: center;
  background-color: white;
  text-decoration: none;
}

.__Tab-NameActive {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--colorTopicText);
  gap: 7px;
  padding: 7px;
  border-bottom: 2px solid var(--colorTopicText);
  align-items: center;
  background-color: white;
  text-decoration: none;
}

.__Tab-NameModule {
  display: inline-flex;
  font-size: 14px;
  font-weight: bold;
  color: var(--colorModuleText);
  gap: 7px;
  padding: 7px;
  border-bottom: 2px solid var(--borderColors);
  border-left: 1px solid var(--borderColors);
  align-items: center;
  background-color: white;
  text-decoration: none;
}

.__Tab-NameModuleActive {
  display: inline-flex;
  font-size: 14px;
  font-weight: bold;
  color: var(--colorTopicText);
  gap: 7px;
  padding: 7px;
  border-bottom: 2px solid var(--colorTopicText);
  border-left: 1px solid var(--colorTopicText);
  align-items: center;
  background-color: white;
  text-decoration: none;
}

.iconClose {
  display: flex;
  font-size: 16px;
}

.iconClose:hover {
  cursor: pointer;
  color: red;
}

.IconTab {
  display: flex;
  font-size: 17px;
}

